body {
    background-color: #284545;
    padding: 25px;
}

.head {
    font-family: Arial;
    font-size: 2em;
}

.title {}

.brand {
    float: left;
    margin-right: 5px;
}

.app-name {
    float: left;
    color: #FFFFFF;
}

.clearfix {
    clear: both;
}

.composer-output {
    color: #FFFFFF;
}

.composer- {

}

.term {
    background-color: #000000;
    padding: 10px;
    color: #FFFFFF;
}

.composer-logo {
    width: 60%;
}
