body {
    background-color: #2f5151;
    padding: 25px;
}

.head {
    font-family: Arial;
    font-size: 2em;
}

.title {}

.brand {
    float: left;
    margin-right: 5px;
}

.app-name {
    float: left;
    color: #FFFFFF;
}

.clearfix {
    clear: both;
}
